body
{
	color:white;
	background-color:red;	
}
h1
{
	font-family: Elephant;
}
h2
{
	font-family: Arial;
}
h3
{
	font-family: Constantia;
}
h4
{
	font-family: Calibri;
}
h5
{
	font-family: Dotum;
}
h6
{
	font-family: Verdama;
}h7
{
	font-family: Georgia;
}